html {
	height: 100%;
	body {
		height: 100%;
		.visitors-container {
			height: 100%;
			#alert-notice {
				z-index: 1999;
				position: fixed;
				top: 5px;
				right: 30%;
				display: inline-block;
				p {
					background-color: rgba(250, 232, 150, 0.8);
					border-radius: 1em;
					font-size: 150%;
				}
			}
			.jumbotron {
				background-color: rgb(208,179,146);
				border: 8px solid transparent;
				border-image: image_url("small-box-profile-aoe2de.png") 8 round;
				a {
					position: fixed;
					text-decoration: none;
					color: rgb(234, 190, 170);
					font-size: 120%;
					background-image: image_url(asset_path('button-profile-aoe2de.png'));
					background-repeat: no-repeat;
					background-position: center;
					padding: 18px 125px;
				}
				a:hover {
					transform: scale(1.1);
				}
				.register-button {
					top: 80px;
					left: -3px;
				}
				.more-info {
					top: 0;
					right: 0;
				}
			}
			.big-container {
				position: relative;
				min-height: 100% !important;
				background-position: center;
				background-repeat: repeat-y;
				background-size: cover;
				.container {
					.avisos {
						overflow: auto;
					}
					.card {
						background-color: rgba(208,179, 146, 0.9);
						.card-body {
							img {
								max-width: 40%;
								max-height: 50%;
							}
						}
						.links {
							margin: auto;
							a {
								margin-bottom: 1em;
							}
						}
					}
				}
				.categories-container {
					padding-bottom: 3rem;
				}
				#change_background_button {
					z-index: 1;
					position: absolute;
					right: 0;
					top: 0;
				}
				.header-image {
				    width: 60px;
				    height: 60px;
				    background-size: cover;
				    background-position: center;
				    border-radius: 50%;
				    border: 2px solid lightgray;
				    margin: auto;
				}
				.box-container {
					opacity: 0.9;
					.render-container {
						border: 8px solid transparent;
						border-image: image_url("small-box-profile-aoe2de.png") 4 round;
						.card-main-header {
							background-color: rgba(208, 179, 146, 0.85);
						}
					}
					#players-container{
						max-height: 850px;
						overflow-x: scroll;
						.player-field:hover {
							background-color: lightgray;
						}
					}
					.match-players-card {
						border: none;
						.card-body {
							.match-date {
								position: absolute;
								right: 10px;
							}
						}
					}
					.match-players-card:hover {
						background-color: lightgray;
					}
					hr {
						margin: 0;
					}
					#matches-container {
						max-height: 850px;
						overflow-x: scroll;
					}
				}
				.box-container:hover{
					z-index: 2;
					opacity: 1;
				}
				.category-card{
					border: 0;
					height: 500px;
					background-color: rgba(208, 179, 146, 0.85);
					border: 8px solid transparent;
					border-image: image_url("small-box-profile-aoe2de.png") 8 round;
					.category-image {
						height: 300px;
						width: auto;
					}&:hover {
						transform: scale(1.1);
					}
					.cat-link {
						position: absolute;
						bottom: 1em;
						font-size: 120%;
						color: rgb(234, 190, 170);
						background-image: image_url(asset_path('button-profile-aoe2de.png'));
						background-repeat: no-repeat;
						background-position: center;
						margin: auto;
						padding: 0 6em;

					}
					a {
						text-decoration: none;
					}
				}
			}
			#imageWindowDisplayer {
				position: fixed;
				background-color: rgba(240, 210, 175, 0.9);
				z-index: 999;
				top: 10%;
				left: 30%;
				width: 40%;
				height: 50%;
				display: none;
				border-radius: 1em;
				padding: 1rem;
				textarea {
					min-height: 200px;
				}
				i {
					cursor: pointer;
					position: absolute;
					top: -5px;
					right: -5px;
					font-size: 200%;
					color: red;
				}
				i:hover {
					font-size: 250%;
				}
			}
			#brackets {
				position: fixed;
				display: none;
				z-index: 10;
				top: 5%;
				left: 5%;
				height: 90%;
				width: 90%;
				iframe {
					width: 100%;
					height: 100%;
				}
				i {
					cursor: pointer;
					position: absolute;
					top: -5px;
					right: -5px;
					font-size: 200%;
					color: red;
				}
				i:hover {
					font-size: 250%;
				}
			}
			#footer {
				z-index: 999;
				position: fixed;
				bottom: 0.5em;
				left: 45%;
				transition: bottom 0.5s;
				.footer-up {
					position: relative;
					margin-bottom: 0.5em;
					.twitch-button {
						background-color: #fff;
						color: #6441a5;
					}
					.discord-button {
						background-color: #7289DA;
						color: #fff;
					}
					.disclaimer-button {
						position: fixed;
						bottom: 0;
						right: 0;
						margin: 0;
						display: inline-block;						
					}
					.disclaimer-info {
						margin: 0;
						display: inline;
						vertical-align: middle;
						background-color: #555;
						color: #fff;
						text-align: center;
						border-radius: 6px;
						padding: 0.5rem 0.2rem;
						position: absolute;
						z-index: 1;
						bottom: 125%;
						right: 0;
						transition: opacity 0.3s;
						min-width: 250px;
						visibility: hidden;
						opacity: 0;
					}
					.disclaimer-button:hover .disclaimer-info{
						visibility: visible;
  						opacity: 1;
					}
				}
			}
		}
	}
}
@media (max-width: 700px) {
	body {
		.jumbotron {
			#category_image {
				margin-top: 3em;
			}
			.main-title {
				margin-top: 0.5em;
			}
			#category_image {
				margin-top: 6em;
			}
			.more-info {
				position: absolute !important;
				top: 0;
				left: 0%;
			}
			.register-button {
				top: 3.5em !important;
			}
			a {
				position: absolute !important;
			}
		}
		.visitors-container {
			#imageWindowDisplayer {
				left: 5% !important;
				top: 10% !important;
				height: 70% !important;
				width: 90% !important;
			}
			.big-container {
				.category-column:last-child {
					margin-bottom: 8em;
				}
				.box-container {
					padding: 0;
				}
				#footer {
					left: 30% !important;
				}
				.box-container {
					.match-players-card {
						.card-body {
							.match-date {
								display: none;
							}
						}
					}		
				}
				.category-card{
					a {
						position: relative !important;
						margin-top: 2em !important;
					}
				}
			}
		}
	}
}
@media (max-width: 460px) {
	.big-container {
		.box-container {
			#players-container{
				.header-image {
					top: 10px;
					width: 40px;
				    height: 40px;
				    border-radius: 50%;
				    margin: auto;

				}
			}
		}
	}		
}
