html {
	height: 100%;
	body {
		height: 100%;
		.visitors-container {
			height: 100%;
			.big-container {
				height: 100% !important;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				.categories-container{
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				.category-card{
					border: 0;
					height: 500px;
					background-color: rgba(250,250,250,0.85);
					.category-image {
						height: 300px;
						width: auto;
					}&:hover {
						transform: scale(1.1);
					}
				}
				.footer {
					position: fixed;
					bottom: 1em;
					left: 40%;
					.twitch-button {
						background-color: #fff;
						color: #6441a5;
					}
					.discord-button {
						background-color: #7289DA;
						color: #fff;
					}
				}
			}
		}
	}
}