html {
	height: 100%;
	body {
		height: 100%;
		.visitors-container {
			height: 100%;
			.big-container {
				position: relative;
				min-height: 100% !important;
				background-position: center;
				background-repeat: repeat-y;
				background-size: cover;
				.header-image {
				    width: 60px;
				    height: 60px;
				    background-size: cover;
				    background-position: center;
				    border-radius: 50%;
				    border: 2px solid lightgray;
				    margin: auto;
				}
				#change_background_button {
					z-index: 1;
					position: absolute;
					right: 0;
					top: 0;
				}
				.box-container {
					opacity: 0.9;
					#players-container{
						.player-field:hover {
							background-color: lightgray;
						}
					}
					.match-players-card {
						border: none;
					}
					.match-players-card:hover {
						background-color: lightgray;
					}
					hr {
						margin: 0;
					}
				}
				.box-container:hover{
					z-index: 2;
					opacity: 1;
				}
				.category-card{
					border: 0;
					height: 500px;
					background-color: rgba(250,250,250,0.85);
					.category-image {
						height: 300px;
						width: auto;
					}&:hover {
						transform: scale(1.1);
					}
				}
				#footer {
					position: fixed;
					bottom: 0.5em;
					left: 45%;
					transition: bottom 0.5s;
					.footer-up{
						margin-bottom: 0.5em;
						.twitch-button {
							background-color: #fff;
							color: #6441a5;
						}
						.discord-button {
							background-color: #7289DA;
							color: #fff;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1000px) {
	body{
		.big-container {
			.categories-container{
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
@media (max-width: 700px) {
	body {
		.jumbotron {
			#category_image {
				margin-top: 3em;
			}
		}
		.visitors-container {
			.big-container {
				.category-column:last-child {
					margin-bottom: 8em;
				}
				.box-container {
					padding: 0;
				}
				#footer {
					left: 30% !important;
				}
			}
		}
	}

}


