.visitor-player-container {
	background-image: url(asset_path('profile-aoe2de.png'));
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100%;
	.wrapper {
		padding-top: 120px;
	    display: grid;
	    grid-template-columns: 15% 70% 15%;
		.a {
			grid-column: 2 / 3;
			grid-row: 1;
			background-image: url(asset_path('name-profile-aoe2de.png'));
			height: 85px;
			background-repeat: no-repeat;
			background-position: center;
			text-align: center;
			p {
				font-size: 240%;
				color: #232323;
				padding-top: 5px;
			}
		}
		.b {
			grid-column: 2 / 3 ;
			grid-row: 2;
			position: relative;
			border: 8px solid transparent;
			border-image: url("small-box-profile-aoe2de.png") 8 round;
			background-color: rgb(179, 152, 125);
			margin: 2em 8em;
			padding: 1em;
			p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 120%;
				text-align: left;
			}
			.header-image {
				position: absolute;
				border: 8px solid transparent;
				border-image: url("image-profile-aoe2de.png") 8 round;
			    top: 100px;
			    right: 89px;
			    padding: 40px;
			    background-size: cover;
			    background-position: center;
			}
		}
		.c {
			grid-column: 3 / 4 ;
			grid-row: 2;
			padding-top: 6em;
			.category-image {
				border: 8px solid transparent;
				border-image: url("small-box-profile-aoe2de.png") 8 round;
				padding: 80px;
			    background-size: cover;
			    background-position: center;
			    border-radius: 1em;
			}
		}
		.d {
			grid-column: 1 / 2 ;
			grid-row: 4;
			a {
				position: absolute;
				text-decoration: none;
				color: white;
				font-size: 120%;
				background-image: url(asset_path('button-profile-aoe2de.png'));
				background-repeat: no-repeat;
				background-position: center;
				padding: 18px 125px;
				top: 4%;
				left: 4%;
			}&:hover{
				position: absolute;
				top: 4%;
				left: 4%;
				transform: scale(1.1);
			}
		}
		.e {
			margin-top: 2em;
			grid-column: 2 / 3 ;
			grid-row: 3;
			background-color: rgb(208,179,146);
			border: 8px solid transparent;
			border-image: url("small-box-profile-aoe2de.png") 8 round;
			h3 {
				text-align: center;
			}
			hr {
				margin: auto;
				width: 60%;
			}
			.match-container {
				border: 2px solid #4D2B12;
				margin: 2em;
				padding: 0;
				overflow: scroll;
				table {
					margin: 0;
					tr {
						opacity: 0.8;
						text-align: center;
						th {
							border: none;
						}
						td {
							vertical-align: bottom;
							border: none;
							white-space: nowrap;

						}
						.round-vertical {
							text-orientation: upright;
							transform: rotate(270deg);
							width:10px;
							padding: 3em 0;
							white-space: nowrap;
  							overflow: hidden;
						}
						.table-menu-player {
							text-align: left;

						}
						.table-player {
							text-align: left;
							padding: 5px 0 0 0;
							position: relative;
							.player-image {
								border: 6px solid transparent;
								border-image: url("image-profile-aoe2de.png") 5 round;
			    				background-size: cover;
			    				background-position: center;
			    				background-repeat: no-repeat;
			    				height: 50px;
			    				width: 55px;
			    				display: inline-block;
							}
							.player-name {
								position: absolute;
								display: inline-block;
								clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
								top: 20%;
								h4 {
									color: black;
									padding: 5px;
									margin: 0 !important;
									a {
										color: black;
									}
									a:hover {
										color: blue;
									}
								}
							}
						}
						.table-winner{
							width: 10%;
						}
						.table-civ {
							width: 15%;
						}
						.table-likes {
							width: 15%;
						}
						.table-votes {
							width: 15%;
						}
						.table-team {
							width: 15%;
						}
					}
					tr:hover {
						opacity: 1;
					}
					.active-dark { 
						background-color: rgb(179, 152, 125);
					}
				}
			}
		}
	}
}