.visitor-player-container {
	background-image: url(asset_path('profile-aoe2de.png'));
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100%;
}