#mobile-sidebar {
    display: none;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
.admin-container {
    margin-left: 250px;
    margin-right: 0;
    padding: 1em;
    padding-top: 0;
}
#profile_image img, #category_image img {
    max-width: 100%;
}
.player-card .header-image {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid lightgray;
    margin: auto;
}
.category-card .header-image {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin-left: 2em;
}
.round-checkbox-label {
    cursor: pointer;
    margin: auto;
    padding: 0 2em;
    border: 2px solid lightgray;
    border-radius: 1em;
}
.active-round-checkbox-label {
    background-color: lightgray;
}

@media only screen and (max-width: 500px) {
    #sidebar {
        display: none;
    }
    #mobile-sidebar{
        display: block;
    }
    .admin-container {
        margin-left: auto;
        margin-right: auto;
    }
}